/* RESETTIN' RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

img {
    max-width: 100%;
    width: 110px;
    float: left;
    padding-right: 15px;
}

html {
    font-family: 'Kanit', sans-serif;
}

section {
    /* margin-top: 55px; */
    padding-bottom: 40px;
    padding-top: 55px;
}

body {
    background-color: #222222;
}

section {
    background-color: white;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.col {
    float: left;
    width: calc((100% - 90px)/3);
    margin: 0 15px;
    padding-bottom: 50px;
}

.contacts { 
    padding-top: 12px;
}

.card {
    background-color: #0F0E17;
    box-shadow: 10% ;
    color: white;
    border: 1px solid #0F0E17 ;
    box-shadow: 3px 3px 3px 3px grey ;
}

h1, .centered-text {
   margin-top: 60px;
}

h1 {
    color: #E53170;
    font-weight: 800;
    font-size: 35px;
}

.container {
    margin: 0 auto;
    width:  1200px;
}

.centered-text {
    text-align: center;
}

.p-footer {
    padding-top: 30px;
    text-align: center;
    color: white;
}

.intro-lorem {
    font-weight: 400;
}

.email {
    color: #4FCBF2 ;
    font-size: 14px;
}





/* 
DEBUGGING RULES */
/* .debug .container{
    border: 1px solid blueviolet;

}

.debug .col{
    border: 1px solid blueviolet;

}
 */
